html{
	background-color: grey;
}
table{
	margin: auto;
	background-color: white;
}
table,th,td,tr {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}
form label{
	display: block;
	margin: auto;
}

form input{
	display: block;
	margin:auto;
}
form textarea{
	display: block;
	margin: auto;
	width: 620;
	height: 120;
}	


