html {
	background-color: grey;
}
h1{
	text-align: center;
}
div{
	margin: auto;
	width: 35%;
	height: 35%;
	background-color: lightslategrey;
	border-color: lightgreen;
	border-radius: 5px;
}

form input {
	height: 15%;
	width: 60%;
	display: block;
	margin: auto;
}