html {
	background-color: grey;
}
h1{
	text-align: center;
	color: dodgerblue;
}

form input[type=text] {
	display: block;
	margin: auto;
	height: 15%;
	width: 60%;
}

div{
	margin: auto;
	width: 35%;
	height: 35%;
	background-color: lightslategrey;
	border:2px;
	border-color: lightgreen;
	border-radius: 5px;
}

