html {
	background-color: grey;
}
h1{
	text-align: center;
	color: white;
}

form input[type=text] {
	display: block;
	margin: auto;
	height: 15%;
	width: 60%;
}
form input[type=password] {
	display: block;
	margin: auto;
	height: 15%;
	width: 60%;
}

form input[type=submit] {
	display: block;
	margin: auto;
}

div{
	padding: 2% 5% 5% 5%;
	margin: auto;
	margin-top: 25%;
	width: 35%;
	height: 35%;
	background-color: lightslategrey;
	border:2px;
	border-color: lightgreen;
	border-radius: 5px;
}

