html{
	background-color: grey;
}
aside{
	border: 1px solid black;
	margin-right: 75%;
	background-color: white;
}

#aside{
	height: 80%;
	width: 20%;
}

#table{
	margin-top:  -6%;
	float: right;
	width: 70%;
}
table {
	margin-left: 25%;
	background-color: white;
}
table,th,td,tr {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}
tr:hover {
	color: white;
	background-color: lightgoldenrodyellow;	
}