html{
	background-color: grey;
}
table {
	width: 75%;
	margin: auto;
	background-color: white;
}
table,th,td,tr {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}
tr:hover{
	color: white;
	background-color: black;
}

tr a:hover {
	color: white;
}

